.container{
    border-color: lightgreen;
    border-width: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
    align-items: center;
    
}
.form-head{
    color:lightgreen;
    text-align: center;
}
button{
    color:black;
    background-color: lightgreen;
    width: 100px;
    margin-left: 15px;
}
input{
    width: 200px;
    background-color: white;
    color: black;
    border-radius: 5px;
    border-color: lightgreen;
}
label{
    color: lightgreen;
    margin-right: 15px;
    margin-left: 15px;
}
