table th{
    width: 250px;
    height: 15px;
    text-align: center;
    background-color: lightgreen;
}
table td{
    text-align: center;
    color: white;
    font-family: cursive;
}
form label{
    color:white;
    margin-right: 5px;
    margin-left: 5px;

}
input{
    color: white;
    border-color: lightgreen;
}