table th{
    width: 250px;
    height: 15px;
    text-align: center;
    background-color: lightgreen;
}
table td{
    text-align: center;
    color: white;
    font-family: cursive;
    border-color: lightgreen;
}
button.delete-button{
     margin: auto;
    display: block; 
    margin-top: 10px;
}